$font1: "Roboto",sans-serif;
$font2: "Open-sans",sans-serif;
$font3: "Poppins", sans-serif;
$font4: "Ubuntu", sans-serif;
$font5: "Montserrat", sans-serif;

$color1: #ecc3ff;
$color2:#9600d6 ;
$color2_1:#be27ff ;
$color2_2:#e4a7ffed ;
$color3:rgb(178, 0, 0) ;
$color3_1:rgba(253, 0, 0, 0.864) ;
$color4: #fff;
$color5: #3f0550;
$color5_1: #750995;

$color6: #000000;
$color6_1: #24242498;
$color6_2: #16161622;

$p: 13.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;

